<ion-view view-title="">
  <ion-content class="padding">
    <div id="sqas-header-title">
      <div style="width: 30%">
        <img src="img/smart-notification.png" style="width: 100%" alt="">
      </div>
      <div>
        إشعارات ذكية
      </div>
    </div>

    <div>
      <div id="sqas-barr-cntr" style="height: 4px">

        <!--       <div class="circleanim">
                   
                  </div> -->

        <div id="sqas-barr" style="opacity: 0.7"></div>
      </div>
    </div>
  </ion-content>
</ion-view>