<ion-view view-title="">
  <ion-content class="padding">
    <div style="height: 20%" class="sqas-header">
      <table style="height: 100% ">
        <tr>
          <td style="width: 70%">
            <div>
              إشعارات ذكية
            </div>
          </td>
          <td>
            <img src="img/smart-notification.png" style="width: 100%;opacity: 0.85" alt="">

          </td>
        </tr>
      </table>
    </div>
<br/>
    <div class="sqas-content-container">
      <div class="sqas-img">
        <img src="img/explain.png" style="margin: auto;width: 100%;filter: grayscale(60%);opacity: 0.7">
      </div>
      <div class="sqas-paragraphe" dir="rtl">
          تمكن هذه الخاصية من تفعيل الإشعارات الصوتية و/أو الكتابية و التي تهتم بشأن السياقة السليمة و التي تنضبط مع متغيرات الوقت
          و الطقس و وحالة السائق. <br/>
          كما تسمح بربط الإتصال المباشر بين السائقين و اللجنة الوطنية للوقاية من حوادث السير في إطار الإرشادات العامة للسياقة السليمة و كذا مستجدات قانون السير بالمغرب.
      </div>
      <div>
        <ul class="list list-light" style="opacity: 0.7">

          <li class="item item-toggle" style="background-color:rgba(228, 219, 219, 0.05);color:yellow;border: 0;padding-right: 80px;
                                              border-radius: 32px">
            <span style="opacity: 0.2" >هذه الميزة مفعلة تلقائيا</span>

            <label class="toggle toggle-energized">
              <input type="checkbox" checked disabled>
              <div class="track">
                <div class="handle" style="background-color:cyan"></div>
              </div>
            </label>
          </li>

        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>