<ion-view view-title="">
  <ion-content class="padding">

      <div style="height: 20%" class="sqas-header">
          <table style="height: 100% ">
            <tr>
              <td style="width: 70%">
                <div>
                  قائمة الإعدادات
                </div>
              </td>
              <td>
                  <img src="img/logo.png" style="width: 100%;opacity: 0.85" alt="">
      
                </td>
            </tr>
          </table>
        </div>

    <br/>
    <div class="sqas-menu">
      <button class="button sqas-href-item" ng-click="goToPage('smart-notification')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/smart-notification.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">إشعارات ذكية</div>
            <div class="sqas-item-desc">
              تمكن هذه الخاصية من تفعيل الإشعارات الصوتية و/أو الكتابية و الني تهتم بشأن السياقة السليمة و التي تنضبط كذلك مع متغيرات الوقت
              و الطقس و مستجدات قانون السير ..
            </div>
          </div>
        </div>
      </button>
      <button class="button sqas-href-item" ng-click="goToPage('anti-somnolence')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/anti-somnolence.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">مضاد بوادر الغفوة</div>
            <div class="sqas-item-desc">
              عند السفر مفردا تزداد احتمالية الاستسلام للغفوة أثناء السياقة، عند تشغيل هذه الميزة، سيقوم الهاتف بمرافقتك بنصائح و تأتيرات
                صوتية مناسبة لتوعية دماغك بضرورة أخذ قسط من الراحة إذا استلزم الأمر ذلك ..
                        </div>
          </div>
        </div>
      </button>
<!--       <button class="button sqas-href-item" ng-click="goToPage('safe-modes')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/safe-modes.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">أوضاع الأمآن</div>
            <div class="sqas-item-desc">
              تسمح هذه الميزة مساعدة الهاتف على اختيار النصائح و الإرشادات ألأكثر ملائمة مع حالة الثنائي سائق-سيارة ..

            </div>
          </div>
        </div>
      </button> -->
      <button class="button sqas-href-item" ng-click="goToPage('important-numbers')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/important-numbers.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">أرقام مهمة</div>
            <div class="sqas-item-desc"> 
               هذا الأختيار يسهل الإتصال بالأرقام المهمة التي قد يحتاجها السائق في الحاللات الخاصة ..

            </div>
          </div>
        </div>
      </button>
      <button class="button sqas-href-item" ng-click="goToPage('archive')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/archive.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">أرشيف</div>
            <div class="sqas-item-desc">
              هنا تجد جيع الإشعارات المتوصل بها الى حدود هذه اللحطة.
            </div>
          </div>
        </div>
      </button>
      <button class="button sqas-href-item" ng-click="goToPage('aboutus')">
        <div class="sqas-menu-item">
          <div style="padding: 4px;">
            <img src="img/about.png" alt="">
          </div>
          <div>
            <div class="sqas-item-title">حول التطبيق</div>
            <div class="sqas-item-desc">
              نبذة عن خصائص و وظائف التطبيق.
            </div>
          </div>
        </div>
      </button>
    </div>

    <div style="font-size: 1.6vmax;margin-top: 4%;color: #dda100;opacity: 0.5" dir="rtl">

      <span class="icon ion-ios-information-outline"> قم بالضغط على إحدى الإختيارات للإطلاع على مزيد من التفاصيل </span>
      <br/>
      <br/>
    </div>
  </ion-content>
</ion-view>