<ion-view view-title="">
  <ion-content class="padding" scroll="false">
    <div id="sqas-header-title">
      <div style="width: 33%">
        <img src="img/logo.png" style="width: 100%" alt="" class="sqas-main-logo">
      </div>
      <div>
        الواجهة الرئيسة
      </div>
    </div>

    <div class="sqas-main-container">
      <div style="flex-basis: 5%; text-align: left;font-size: 2.1vmax" dir="rtl"> <span>{{today|date:'longDate'}}</span> - <span>{{today|date:'shortTime'}}</span></div>
      <div style="flex-basis: 5%;font-size: 3.2vmax;color: yellow;padding-top: 14px;padding-bottom: 10px"> الغفوة أخطر مما تعتقد <span class="ion ion-arrow-left-b"></span> </div>
    
      <div style="flex-basis: 20%"><img src="img/anti-somnolence-bann2.jpg" style="width: 100%;padding-bottom: 6px;" alt=""></div>
      <div style="flex-grow: 1;text-align: justify;font-size: 2.3vmax ;overflow-y: scroll;" dir="rtl">
        تنطلق في هذه الأثناء الدورة السابعة والستين للجمعية العمومية للجنة الوطنية للوقاية من حوادث السير حيث ستتم المصادقة على محضر الدورة السابقة وسيتم تقديم مشروع برنامج عمل اللجنة وميزانيتها برسم سنة 2018 والمخطط الخماسي للتواصل الشمولي للفترة 2017-2021 وعرض مجموعة من مشاريع القرارات للمصادقة عليها..
        تنطلق في هذه الأثناء الدورة السابعة والستين للجمعية العمومية للجنة الوطنية للوقاية من حوادث السير حيث ستتم المصادقة على محضر الدورة السابقة وسيتم تقديم مشروع برنامج عمل اللجنة وميزانيتها برسم سنة 2018 والمخطط الخماسي للتواصل الشمولي للفترة 2017-2021 وعرض مجموعة من مشاريع القرارات للمصادقة عليها..
        تنطلق في هذه الأثناء الدورة السابعة والستين للجمعية العمومية للجنة الوطنية للوقاية من حوادث السير حيث ستتم المصادقة على محضر الدورة السابقة وسيتم تقديم مشروع برنامج عمل اللجنة وميزانيتها برسم سنة 2018 والمخطط الخماسي للتواصل الشمولي للفترة 2017-2021 وعرض مجموعة من مشاريع القرارات للمصادقة عليها..
      </div>
      <div style="flex-basis: 4%;margin-top: 6px" id="sqas-barr-cntr">
        <div id="sqas-barr" style="height: 100%;background-color: yellow;"></div>
      </div>
      <div style="flex-basis: 10%"  >
          <button class="button icon-right ion-chevron-right button-calm button-clear" ng-click="goToDash()">إعدادات</button>
      </div>
    </div>

    <br/>
  </ion-content>
</ion-view>