<ion-view view-title="">
  <ion-content class="padding">
    <div style="height: 20%" class="sqas-header">
      <table style="height: 100% ">
        <tr>
          <td style="width: 70%">
            <div>
              حول التطبيق
            </div>
          </td>
          <td>
            <img src="img/about.png" style="width: 100%;opacity: 0.85" alt="">

          </td>
        </tr>
      </table>
    </div>
    <div class="">
      <div class="sqas-img" style="text-align: center">
        <img src="img/logo.png" style="height: 30vmax;filter: grayscale(100%);opacity: 0.7">
      </div>
      <div class="sqas-paragraphe" style="padding: 3vmax" dir="rtl">
        تطبيق (سياقة سايف - Syaqa Safe ) هو تطبيق للهواتف الذكية و اللوحات الإلكترونية يمكن من ربط قناة وصل مباشرة بين اللجنة الوطنية
        للوقاية من حوادث السير ومختلف مستخدمي الطريق.
        <br/> عن طريق هواتفهم الذكية، يستطيع السائقون من التوصل بإشعارات - مرسلة من طرف اللجنة - تهتم بالسياقة السليمة، تتميز
        هذه الإشعارات بذكاء إصطناعي، إذ تتأقلم مع حال كل سائق على حدة، و ذلك حسب الوقت و المكان و الطقس و مستجدات قانون السير.
        <br/>
        <span style="font-weight: bolder">أمثلة لا الحصر:</span>
        <br/>
        <ul class="sqas-ul">
          <li>
            تذكير السائق تلقائيا بمستلزمات الوقاية من الحوادث التي تقع غالبا عند تقلب الطقس المفاجئ.
          </li>
          <li>
            إخبار السائق بشكل عاجل بمستجد في مجال السلامة الطرقية أو قانون السير على المستوى الوطني.
          </li>
          <li>
            تنبيه السائق في الوقت المناسب بأخذ الحيطة و الحذر عند أبواب المدارس و الكليات أثناء ذروات السير اليوميوية.
          </li>
          <li>
            توعية السائق في الأوقات المناسبة بالتغيرات النفسية و العصبية المرافقة للصيام خلال شهر رمصان الكريم.
          </li>
          <li>
            تذكيرالسائق بمستلزمات السياقة السليمة أثناء الليل.
          </li>
          <li>
            تنبيه السائق المتواجد بمدينة محددة بانقطاع مؤقت لطريق وطني معين.
          </li>
          <li>
            ...
          </li>
        </ul> هذه الإشعارات المتكررة، التي تقدم كتابيا و/أو صوتيا، تهدف الى توعية السائقين بشكل مناسب و (في وقته) حتى يتمكنوا من
        أخذ القرارات السليمة قبل و أثناء و بعد نهاية السياقة.
        <br/> كذلك، يوفر التطبيق أداة جد مهمة تحمي السائقين من الوقوع في خطأ الغفوة أثناء السياقة و التي قد يقع فيها المسافرون
        بسياراتهم لمسافات طويلة.
        <br/> تقوم هذه الأداة المسماة "مضاد بوادر الغفوة" بتجنيب السائق بوادر الغفوة، عن طريق توعيته بنصائح صوتية في هذا المجال،
        كما تحاول هذه الأداة بتكسير رتابة دماغ السائق المحتملة بتنبيهات صوتية عشوائية و التي قد يتسبب بها مدياع السيارة أو
        رتابة الطريق.
      </div>
    </div>
  </ion-content>
</ion-view>