<ion-view view-title="">
  <ion-content class="padding">
    <div style="height: 20%" class="sqas-header">
      <table style="height: 100% ">
        <tr>
          <td style="width: 70%">
            <div>
              حول التطبيق
            </div>
          </td>
          <td>
            <img src="img/about.png" style="width: 100%;opacity: 0.85" alt="">

          </td>
        </tr>
      </table>
    </div>
    <div class="">
      <div class="sqas-img" style="text-align: center">
        <img src="img/logo.png" style="height: 30vmax;filter: grayscale(100%);opacity: 0.7">
      </div>
      <div class="sqas-paragraphe" dir="rtl">
      يمكن تطبيق (سياقة سايف - Syaqa Safe ) السائفين من استقبال -عن طريق هاتفهم النقال- إشعارات تهم السياقة السليمة آخذا بعين الإعتيار حالة كل سائق على حدة، وذلك حسب الوقت و الطقس اللذان تتم خلالهما السياقة. 
      <br/>
       يوزع التطبيق الإشعارات على مدد زمنية متفرقة و متكررة عشوائيا إما يوميا أو أسبوعيا أو على حسب ذروات السير أو تقلب الطقس المفاجئ.
       <br/>
       هذه الإشعارات المتكررة، التي تقدم كتابيا و/أو صوتيا، تهدف الى توعية دماغ السائقين حتى يتمكن من أخذ القرارات السليمة قبل و أثناء و بعد السياقة.
        <br/>
         كما يمكن التطبيق مستعمليه من التوصل بالأخبار المستجدة و المستعجلة في مجال السلامة الطرقية و قانون السير على المستوى الوطني.
      </div>
    </div>
  </ion-content>
</ion-view>