<ion-view view-title="">
  <ion-content class="padding" scroll="false">

    <div style="height: 20%" class="sqas-header">
      <table style="height: 100% ">
        <tr>
          <td style="width: 70%">
            <div ng-if="currentView=='main'">
              إشعار
            </div>
            <div ng-if="currentView=='dashmin'" dir="rtl">
              {{today|date:'longDate'}}
              <span style="font-size: 4vmax"> {{today|date:'HH:mm'}}</span>
            </div>
            <div ng-if="currentView=='anti-somnolence'" class="sqas-header-tito">
              <div>مضاد الغفوة</div>
              <div dir="rtl" style="flex-basis: 5%;font-size: 3.2vmax;color: yellow;padding-top: 14px">
                تنبيه صوتي
                <span class="ion ion-volume-high"></span>
              </div>
            </div>
          </td>
          <td ng-if="currentView=='main'">
            <img src="img/smart-notification.png" style="width: 100%;opacity: 0.85" alt="" ng-if="currentView=='main'">
            <img src="img/logo.png" style="width: 100%;opacity: 0.85" alt="" ng-if="currentView=='dashmin'">
            <img src="img/anti-somnolence.png" style="width: 100%;opacity: 0.85" alt="" ng-if="currentView=='anti-somnolence'">

          </td>
        </tr>
      </table>
    </div>


    <div ng-if="currentView=='dashmin'" style="height: 78%">
      <table class="sqas-table-dashmin">
        <tr>
          <td style="height: 66%;vertical-align: middle">
            <table id="sqas-sub-table" style="opacity: 0.7">
              <tr ng-if="weatherObj.main && endInit==true">
                <td style="width:50%;text-align: left;vertical-align: middle">
                  <div style="font-size: 6vmax;"> {{weatherObj.main.temp|sqastemp}}</div>
                </td>
                <td style="text-align: right;vertical-align: middle;width: 50%">
                  <img ng-src="http://openweathermap.org/img/w/{{weatherObj.weather[0].icon}}.png" ng-if="weatherObj.connected==true" alt="">
                  <div style="height: 6vmax" ng-if="weatherObj.connected==false"></div>
                  <div style="font-size: 3vmax;position: relative;top: -2vmax">
                    <span>{{weatherObj.weather[0].description|sqastempdescr}}</span>
                  </div>

                </td>

              </tr>
              <tr ng-if="weatherObj.connected==false">
                <td style="text-align: center">
                  <div dir="rtl" style="opacity: 0.5;font-size: 1.5vmax">
                    غير مرتبط بالأنترنت
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="vertical-align: middle;text-align: center" class="sqas-main-logo">
                  <img src="img/logo.png" style="width: 100%;" alt="" ng-if="endInit==true" on-tap="initWhenTap()" />
                  <ion-spinner class="spinner-energized" icon="circles" ng-if="endInit==false" style="zoom: 4"></ion-spinner>
                </td>
              </tr>
              <tr>
                <td ng-if="endInit==true" colspan="2 " style="vertical-align: middle;text-align: center ">
                  <span ng-if="weatherObj.name">{{weatherObj.name}}</span>
                  <img src="img/location.png " ng-if="weatherObj.name && weatherObj.onGeo==true " style="width: 3vmax;filter: invert();opacity: 0.7 "
                    alt=" ">
                  <img src="img/location-disabled.png " ng-if="weatherObj.onGeo==false " style="width: 3vmax;filter: invert();opacity: 0.7"
                    alt=" ">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="sqas-table-flx ">
              <div class="button " ng-click="goToArchive() ">
                <img src="img/archive.png " alt=" ">
              </div>
              <div class="button " ng-click="goToDash() ">
                <img src="img/more.png " alt=" ">
              </div>
              <div class="button " ng-click="goToAntiSomnolence() ">
                <img src="img/anti-somnolence.png " alt=" " ng-class="antiSsomnolenceEenabled==true? 'sqas-sub-logo':
                  '' ">
              </div>
              <div class="button " ng-click="goToImportantNumbers() ">
                <img src="img/important-numbers.png " alt=" ">
              </div>
              <div class="button " ng-click="goToSmartNotification() ">
                <img src="img/smart-notification.png " alt=" ">
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div style="position: relative;height: 76%; " ng-if="currentView=='main' ">
      <div class="ion ion-arrow-up-b " style="font-size: 6vmax;position: absolute ;color: rgb(0, 185, 252);top:-3.5vmax;right:
                  6.5vmax "></div>

      <div class="sqas-main-container " style="border: 2px solid rgb(0, 185, 252);border-radius: 12px;overflow: hidden;border-top:
                  8px solid rgb(0, 185, 252); ">
        <div style="flex-basis: 5%;font-size: 3.2vmax;color: rgb(0, 0, 0);font-weight: bolder;padding-top: 14px;padding-bottom:
                  10px;padding-right: 8px; ">
          <table dir="rtl" style="width: 100%">
            <tr>
              <td>

                <span class="ion ion-arrow-left-b " style="width: 2vmax;position: relative;top: 0.5vmax"></span>

              </td>
              <td style="text-align: justify;padding-left: 0.7vmax">
                {{notification.title}}
              </td>
            </tr>
          </table>
        </div>

        <div style="flex-basis: 5%;font-size: 2.1vmax;text-align: right;padding-right: 8px;color: black
                  " dir="rtl">
          <div>
            <span>{{today|date:'longDate'}}</span>
            -
            <span>{{today|date:'shortTime'}}</span>
          </div>

        </div>

        <div style="flex-basis: 20% ">
          <img ng-src="notifications/images/{{notification.imageName}}.png" style="width: 100%;padding:8px " alt=" ">
        </div>
        <div style="flex-grow: 1;overflow-y: scroll;padding: 8px;color: black;white-space: pre-line;text-align: justify" class="sqas-paragraphe "
          dir="rtl">
          {{notification.text}}
        </div>


        <div style="flex-basis: 4%;margin-top: 6px;background-color: rgba(100,100,100,0.3) " id="sqas-barr-cntr">
          <div id="sqas-barr" style="height: 100% "></div>
        </div>

      </div>


      <!--       <div style="flex-basis: 10% ">
        <button class="button icon-right ion-chevron-right button-calm button-clear " style="font-family: sqasfont;
                  " ng-click="goToDash() ">إعدادات</button>
      </div> -->
    </div>



    <div class="sqas-content-container " style="height: 78%;padding: 5%;padding-top: 25%; " ng-if="currentView=='anti-somnolence' ">
      <!--       <div style="flex-basis: 5%; text-align: left;font-size: 2.1vmax " dir="rtl ">
        <span>{{today|date:'longDate'}}</span> -
        <span>{{today|date:'shortTime'}}</span>
      </div> -->

      <!--       
        <div style="flex-basis: 5%;font-size: 3.2vmax;color: yellow;padding-top: 14px;padding-bottom: 10px "> الغفوة أخطر مما تعتقد
          <span class="ion ion-arrow-left-b "></span>
        </div> -->
      <div style="flex-grow: 1; " class="sqas-paragraphe " dir="rtl ">
        <img src="img/anti-somnolence.png " class="sqas-sub-logo " style="width: 100% " alt=" ">
      </div>

      <div style="flex-basis: 4%;margin-top: 6px;background-color: rgba(100,100,100,0.05) " id="sqas-barr-cntr ">
        <div id="sqas-barr" style="height: 100%;background-color: yellow; "></div>
      </div>

      <!--       <div style="flex-basis: 10% ">
        <button class="button icon-right ion-chevron-right button-calm button-clear " style="font-family: sqasfont;
                  " ng-click="goToDash() ">إعدادات</button>
      </div> -->
    </div>

    <br/>
  </ion-content>
</ion-view>