<ion-view view-title="">
  <ion-content class="padding" on-swipe-right="alert('kkk')">
      <div style="height: 20%" class="sqas-header">
          <table style="height: 100% ">
            <tr>
              <td style="width: 70%">
                <div>
                  مضاد بوادر الغفوة
                </div>
              </td>
              <td>
                  <img src="img/anti-somnolence.png" style="width: 100%;opacity: 0.85" ng-class="antiSsomnolenceEenabled==true?'sqas-sub-logo':''" alt="">
      
                </td>
            </tr>
          </table>
        </div>
        <br/>
    <div class="sqas-content-container">
      <div class="sqas-img">
        <img src="img/anti-somnolence-bann.png" style="height: 30vmax;filter: grayscale(60%);opacity: 0.7">
      </div>
      <div class="sqas-paragraphe" dir="rtl" >عند السفر وحيدا لمسافات طويلة، تزداد بشكل خطير احتمالية الاستسلام للغفوة أثناء السياقة. تمكنك هذه الميزة من جعل هاتفك
        كمرافق صوتي، إذ سيقوم بتوعيتك طيلة مدة السفر بنصائح صوتية متفرقة زمنيا تتناول السياقة السليمة أثناء السفر. أيضا،
        سيقوم الهاتف بإرسال إشارات صوتبة مقتناة بشكل عشوائي ليكسر أية رتابة محتملة على مستوى الدماغ و التي قد يتسبب بها جهاز
        الراديو أو رتابة الطريق..
        <br/>
        تتوزع التنبيهات الصوتية بشكل عشوائي، على مدد زمنية تترواح بين 1.5 دقيفة الى 4 دقائق
      </div>
      <div>
        <ul class="list list-light" style="opacity: 0.7">

           <li class="item item-toggle" style="background-color:rgba(228, 219, 219, 0.05);color:yellow;border: 0;padding-right: 80px;
                                              border-radius: 32px">
           <span ng-show="antiSsomnolenceEenabled">توقيف مضاد الغفوة</span>
           <span ng-show="!antiSsomnolenceEenabled">تفعيل مضاد الغفوة</span>
            <label class="toggle toggle-energized">
              <input type="checkbox" ng-model="antiSsomnolenceEenabled" ng-checked="antiSsomnolenceEenabled" ng-change="toggleChange(antiSsomnolenceEenabled)"> 
              <div class="track">
                <div class="handle" style="background-color:cyan"></div>
              </div>
            </label>
          </li> 
          
        </ul> 
      </div>
    </div>

    <br/>
    <br/>
    <br/>

  </ion-content>
</ion-view>