<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-item-hide">

  <!-- Main Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>
  
  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- anti-somnolence Tab -->
  <ion-tab title="anti-somnolence" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/anti-somnolence">
    <ion-nav-view name="tab-anti-somnolence"></ion-nav-view>
  </ion-tab>
 
  <!-- smart-notification Tab -->
  <ion-tab title="smart-notification" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/smart-notification">
    <ion-nav-view name="tab-smart-notification"></ion-nav-view>
  </ion-tab>

  <!-- safe-modes Tab -->
  <ion-tab title="safe-modes" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/safe-modes">
    <ion-nav-view name="tab-safe-modes"></ion-nav-view>
  </ion-tab>

  <!-- important-numbers Tab -->
  <ion-tab title="important-numbers" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/important-numbers">
    <ion-nav-view name="tab-important-numbers"></ion-nav-view>
  </ion-tab>
  <!-- important-numbers Tab -->
  <ion-tab title="aboutus" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/aboutus">
    <ion-nav-view name="tab-aboutus"></ion-nav-view>
  </ion-tab>
  <!-- important-numbers Tab -->
  <ion-tab title="archive" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/archive">
    <ion-nav-view name="tab-archive"></ion-nav-view>
  </ion-tab>



</ion-tabs>
