/* Empty. Add your own CSS if you like */

@font-face{
    font-family: sqasfont;
    src: url('../font/NeoSansArabic.ttf')
}

ion-content{
    /* Webkit (Safari/Chrome 10) */ 
    background-color: #001a1e;
    color: #dedede;
    padding: 8px;
    text-align: right;
    font-family: sqasfont;
}



#sqas-header-title,.sqas-menu-item{
   display: flex; 
   flex-direction: row;
   direction: rtl;
   padding: 4px;
}

#sqas-header-title{
    background-color: rgba(69, 130, 158, 0.014);
    border-radius: 8px; 
    border: none;
}

#sqas-header-title img{
    
}

#sqas-header-title>div{
}

#sqas-header-title>div:nth-child(2){
    flex-grow:2;
    font-size: 4vmax;
    padding-top: 12%;
    
    text-align: center;
} 

.sqas-menu-item>div:nth-child(1){
    flex-basis: 25%;
}
.sqas-menu-item>div:nth-child(2){
    flex-basis: 90%;
}
.sqas-href-item{
    margin-top: 4px;
    color: lightgray;
    width: 100%;
    text-align: right;
    background-color: rgba(1,1,1,0.05);
    border:1px solid rgba(85, 85, 85,0.5);
    border-radius: 8px;
    font-family: sqasfont;
}



.sqas-item-title{
    padding-top: 4px;
    font-size: 3vmax;
}

.sqas-item-desc{
    font-size: 1.8vmax;
    color: darkslategray;
    line-height: 3vmax;
    text-align: justify;
}

.sqas-menu-item img{
    width: 90%;
    margin-top: 20%;
    margin-right: -10%;
    opacity: 0.35
}

.sqas-sub-logo{
    animation-name: syaqaanime2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   /*  animation-direction: alternate; */
    animation-timing-function: ease-in-out;
}
@keyframes syaqaanime2 {
    0% {
        opacity:0.9;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.9;
    }
}

.sqas-main-logo{
    animation-name: syaqaanime3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes syaqaanime3 {
    0% {
        opacity:0.9;
    }
    100% {
        opacity: 0.3;
    }
}

.sqas-content-container{
    display: flex;
    flex-flow: column;
    height: 75%;
    justify-content: space-around;
}

.sqas-content-container div{
    padding: 4px;
}
.sqas-content-container div:nth-child(1){
    text-align: center;
}

#sqas-barr{

    background-color: lightgrey;
    width: 20px;
    height: 100%
}

.sqas-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    border: 0px solid #dedede
}

.sqas-main-co2ntainer>div{
    border: 1px solid #dedede
}
.circleanim{
    animation-name: syaqaanime1;
    animation-duration: 20s;
    animation-iteration-count:infinite;
   /*  animation-direction: alternate; */
    animation-timing-function: linear;

    

}

@keyframes syaqaanime1 {
    0% {
        transform: rotate(0deg);
        opacity:0.5;   
    }
    50% {
        transform: rotate(360deg);
        opacity: 0.0;  
    }
    100% {
        transform: rotate(720deg);
        opacity: 0.5;  
    }
}